<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andromeda</title>
</head>
<body>
    
<link rel="stylesheet" href="../../assets/css/header.css">

<header>
    <nav>
        <div class="link"><a href="/orders" class="link_nav">Заметки<div class="link_line"></div></a></div>
        <div class="link"><a href="/photes" class="link_nav">Фотоальбом<div class="link_line"></div></a></div>
    </nav>
    <div class="logo"><span href="/">Andromeda</span><div class="line"></div><span>is space for love</span></div>
    <nav>
        <div class="link"><a href="/calendar" class="link_nav ">Календарь<div class="link_line"></div></a></div>
        <div class="link"><a href="/" class="link_nav">Доски<div class="link_line"></div></a></div>
    </nav>

</header>
