<%- include('includes/header.html') %>
<link rel="stylesheet" href="../assets/css/orders.css">
<div class="container">
    <%- include('includes/left-blog.html') %>
<div class="cont_div">
        <div class="cont">
                <div class="last">
                    <h2>Последняя важная заметка</h2>
                    <div class="orders">
                        <div class="order">
                            <div>
                                <div class="order_title">Название</div><div class="status">Активна</div>
                            </div>
                            <div class="date">23.03.2014</div>
                            <div class="order_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quo at laborum consequuntur amet iure nobis cum maiores? Praesentium, velit.</div>
                        </div>
                    </div>
                    <div class="more"><div class="array"></div></div>
                </div>
                <div class="results">
                    <h2>Все записи</h2>
                    <div class="orders">
                            <div class="order">
                                    <div>
                                        <div class="order_title">Название</div><div class="status">Активна</div>
                                    </div>
                                    <div class="date">23.03.2014</div>
                                    <div class="order_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quo at laborum consequuntur amet iure nobis cum maiores? Praesentium, velit.</div>
                                </div>
                                <div class="order">
                                        <div>
                                            <div class="order_title">Название</div><div class="status">Активна</div>
                                        </div>
                                        <div class="date">23.03.2014</div>
                                        <div class="order_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quo at laborum consequuntur amet iure nobis cum maiores? Praesentium, velit.</div>
                                    </div>
                                    <div class="order">
                                            <div>
                                                <div class="order_title">Название</div><div class="status">Активна</div>
                                            </div>
                                            <div class="date">23.03.2014</div>
                                            <div class="order_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quo at laborum consequuntur amet iure nobis cum maiores? Praesentium, velit.</div>
                                        </div>
                    </div>
                    <div class="more"><div class="array"></div></div>
                </div>
            </div>
            <div class="cont">
                <div class="creater">
                    <div class="createNote btn">Создать заметку</div><button class="findNote btn">Найти заметку</button>
                </div>
                <img src="../assets/img/path18.png" class="overlay_Stich" width="20%" alt="">
            </div>
</div>
</div>

<script src="../assets/js/orders.js"></script>
</body>
</html>