<%- include('includes/header.html') %>
<link rel="stylesheet" href="../assets/css/page.css">
<div class="container">
    <div class="cont_div">
        <div class="star st1"></div>
        <div class="star st2"></div>
        <div class="star st3"></div>
        <div class="star st4"></div>
    </div>
    <div class="text_div">
        <div class="text_header">
            Моему Космосу, моей Любимой
        </div>
        <div class="text_cont">
            <p>Мда, осталость только придумать много текста</p>
        </div>
    </div>
</div>

<script>
    // document.querySelector('.star').style.left

</script>